[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
lifter-api-wrapper = {editable = true, path = "."}

[dev-packages]
pytest = "*"
setuptools = "*"
tox = "*"
sphinx = "*"
twine = "*"
mypy = "*"
bump2version = "*"

[requires]
python_version = "3.10"

[scripts]
test = "pytest"
